.mdl-layout__drawer-button {
  color:#000 !important;
  background:rgba(255,255,255,0.75);
  border-radius: 5px;
}

.btc-banner {
  width:100%;
  background: url("../img/banner-bg.jpg") no-repeat center / cover;
  background-attachment: fixed;
  overflow: auto;
}

.btc-banner h1 {
  text-align: center;
  color:#555;
  margin-top:190px;
  padding-bottom:20px;
  color:#FFF;
}

.btc-header-spacer {
  margin-top:70px;
}

.btc-main-content {
  padding:25px 10vw;
}

.card-wide.mdl-card {
  /* width: 512px; */
  width:30%;
  float:left;
  margin:10px;
  box-sizing: border-box;
}
.card-wide > .mdl-card__title {
  color: #fff;
  height: 300px;
  padding:0;
}

.card-wide .mdl-card__title-text {
  padding:15px;
  background: rgba(0,0,0,0.2);
  width:100%;
}
.card-wide > .mdl-card__menu {
  color: #fff;
}

.card-wide.mingkit > .mdl-card__title {
  background: url('../img/mingkit.png') top / cover no-repeat;
}

.card-wide.erica  .mdl-card__title {
  background: url('../img/erica.jpg') center / cover no-repeat;
}

.card-wide.thomas  .mdl-card__title {
  background: url('../img/thomas.jpg') center / cover no-repeat;
}

.card-wide.jon  .mdl-card__title {
  background: url('../img/jon.jpg') top / cover no-repeat;
}

.card-wide.rita  .mdl-card__title {
  background: url('../img/rita.jpg') top / cover no-repeat;
}

.card-wide.havar  .mdl-card__title {
  background: url('../img/havar.jpg') center / cover no-repeat;
}

.btc-profile-pic {
  height:192px !important;
  width:25%;
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.btc-profile-pic.thomas {
  background: url("../img/thomas.jpg") center / cover no-repeat;
}
.btc-profile-pic.mingkit {
  background: url("../img/mingkit.png") top / cover no-repeat;
}
.btc-profile-pic.erica {
  background: url("../img/erica.jpg") center / cover no-repeat;
}
.btc-profile-pic.jon {
  background: url("../img/jon.jpg") top / cover no-repeat;
}
.btc-profile-pic.rita {
  background: url("../img/rita.jpg") 0 -50px / cover no-repeat;
}
.btc-profile-pic.havar {
  background: url("../img/havar.jpg") center / cover no-repeat;
}

.card-wide .mdl-card__supporting-text {
  min-height:75px;
}
.btc-main-content {
  /* overflow:visible; */
}

.btc-cv {
  overflow: auto;
}

.btc-cv h2 {
  margin:15px 10px 0 70px;
  font-size:2em;
  clear: both;
  display: block;
}

.btc-cv > p {
  padding: 0 75px;
}

.mdl-layout__header {
  position: fixed;
}

.intro {
  font-size:2em;
  line-height: 1.3em;
  padding:10px 0;
  margin-top:40px;
}

.btc-vertical-spacer {
  margin-top:30px;
}

#members {
  margin-top:-40px;
  padding-top:80px;
  overflow:auto;
}

.btc-table {
  display:table;
  border:1px solid rgba(0,0,0,.12);
  border-collapse: collapse;
  white-space: normal;
  font-size: 13px;
  background-color:#FFF;
  width:100%;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.btc-table-responsive {
}

.btc-table-row {
  display:table-row;
  border-top: 1px solid rgba(0,0,0,.12);
  border-bottom: 1px solid rgba(0,0,0,.12);
  width:100%;
}

.btc-table-row:hover {
  background: #EEE;
}

.btc-table-cell {
  display: table-cell;
  position: relative;
  height: 48px;
  padding: 12px 18px;
  box-sizing: border-box;
}

.nopadding {
  padding:0 !important;
}

.noshadow {
  box-shadow: none !important;
}

@media(max-width: 650px) {
  .btc-banner h1 {
    margin-top:50px;
    font-size: 3em;
    padding:5px;
  }

  .btc-main-content {
    padding:15px 5vw;
  }

  .mdl-layout__drawer-button {
    color:#FFF;
  }

  .card-wide.mdl-card {
    width:100%;
    margin:10px auto;
  }

  .card-wide > .mdl-card__title {
    height:200px;
  }

  .btc-table-responsive {
    width:100%;
  }

  .btc-profile-pic {
    width:100%;
  }
  .btc-table-cell {
    padding:8px 12px;
  }

  .dissolve {
    display: block;
    height: auto;
    padding:0;
    margin:0;
    border:0;
  }

  .mdl-list__item--three-line {
    height: auto;
  }
  .mdl-list__item--three-line .mdl-list__item-primary-content {
    height:auto;
  }
}
